<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179098889278-n7iou8p8eiag6ucu3ckv3ig0jumb3a9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179098889278-n7iou8p8eiag6ucu3ckv3ig0jumb3a9i</string>
	<key>API_KEY</key>
	<string>AIzaSyCVq8Vg1Ra025nj5CXfX3dYnEUtdNSFCPA</string>
	<key>GCM_SENDER_ID</key>
	<string>179098889278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.maxwell-hoff.github.Soulprint</string>
	<key>PROJECT_ID</key>
	<string>soulprint-402c8</string>
	<key>STORAGE_BUCKET</key>
	<string>soulprint-402c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179098889278:ios:e9a9d5467919318a2c756f</string>
	<key>NSCameraUsageDescription</key>
	<string>Your app requires access to the camera to record video.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your app requires access to the microphone to record audio.</string>
</dict>
</plist>